#footer
	.safefOOTER.centerIt-h
		.left
			p Red Stripe ® 2014 <span> | </span> <a ng-href="#/terms&conditions">Terms & Conditions</a>
		.right.left
			p 18 Years and older <span> | </span> Drink Responsability
