.imgbG#congratulation_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			h1 Cheers!
			p Your Account is now verified!
			.holdVeryfied_btn.centerIt-h
				a.btn_getS.btn_cursor.btn-borders.red_btns(ng-href="#/profile")
					p Start Getting<br>Rewarded!

include _footer.jade
