.imgbG#concectin_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			h2 Connect your accounts to earn even more <span>STRIPES!</span>
			.holdbottoms_cols.centerIt-h
				.section-half.btnsHolers
					.hold_btns
						.btn_fb.btn_cursor.btns_btm.btn-borders#facebook-connected.red_btns
							.inTxt#facebook-connected-txt
								p Connected
					.hold_btns
						.btn_tt.btn_cursor.btns_btm.btn-borders#twitter-connected
							.inTxt#twitter-connected-txt
								p Connect Twitter
					.hold_btns
						.btn_ig.btn_cursor.btns_btm.btn-borders#instagram-connected
							.inTxt#instagram-connected-txt
								p Connect Instragram
				.section-half.btnsHolers.thisIsthe
					p Follow Red Stripe 
					.holdsocials
						.iconos_Follow
							a(href="https://www.facebook.com/RedStripeJamaica?nr", target="_blank") 
								#fb.iconoIn
						.iconos_Follow
							a(href="https://twitter.com/redstripejm", target="_blank") 
								#tt.iconoIn
						.iconos_Follow
							a(href="http://instagram.com/redstripejamaica", target="_blank") 
								#ig.iconoIn
						.iconos_Follow.inconoTextss
							.btn_newletter.btn_cursor
						p(style="top: 5px;") Recieve updates via email
					.btnContinuar.centerIt-h
						a.btn_continueR.btn_cursor.btns_btm.btn-borders(ng-href="#/profile")
							p Continue to Rewards

			