.imgbG#home_gate
	.holdwithGrid
		.new-safe
			.section-third
				.half-in.single-in.grid-item
					.btn-borders.inImg#img-1.center-all
						.imgbox#img-1-in
	
				.half-in.single-in.grid-item
					.btn-borders.inImg#img-2.center-all
						.imgbox#img-2-in
						.hover#img-2-in-hover.btn_cursor
							p Major<br> Lazer<br>Tickets
				.full-in.single-in.grid-item
					.btn-borders.inImg#img-3.center-all
						.imgbox#img-3-in
				.half-in.double-in.grid-item
					.btn-borders.inImg#img-4.center-all
						.imgbox#img-4-in
						.hover#img-4-in-hover.btn_cursor
							p Red<br>Stripe<br>Sorrel
				.half-in.double-in.grid-item
					.btn-borders.inImg#img-5.center-all
						.imgbox#img-5-in
						.hover#img-5-in-hover.btn_cursor
							p Red<br>Stripe<br>1 Litre
				
			.section-third
				.top-section
					.logo
					.low-ones
						.half-in
							h2 Collect <span>STRIPES</span>
							a.btn_register.btn-borders.red_btns.bts_d.btn_cursor(ng-href="#/register")
								p Register
						.half-in
							h2 Get Rewarded!
							a.btn_login.btn-borders.red_btns.bts_d.btn_cursor(ng-href="#/login")
								p Login
				.btm-section
					.half-in.fullD-in.grid-item
						.btn-borders.inImg#img-6.center-all
							.imgbox#img-6-in
							
					.half-in.fullD-in.grid-item
						.btn-borders.inImg#img-7.center-all
							.imgbox#img-7-in
							
			.section-third
				.half-in.fullD-in
					.full-in.double-in.grid-item
							.btn-borders.inImg#img-8.center-all
								.imgbox#img-8-in
								.hover#img-8-in-hover.btn_cursor
									p Absinthe<br>Party<br>Tickets
					.full-in.single-in.grid-item
						.btn-borders.inImg#img-10.center-all
							.imgbox#img-10-in
							.hover#img-10-in-hover.btn_cursor
								p Red<br>Stripe<br>Cap
					.full-in.single-in.grid-item
						.btn-borders.inImg#img-12.center-all
							.imgbox#img-12-in
			
	
				.half-in.fullD-in
					.full-in.single-in.grid-item
						.btn-borders.inImg#img-9.center-all
							.imgbox#img-9-in
					
					.full-in.single-in.grid-item
						.btn-borders.inImg#img-11.center-all
							.imgbox#img-11-in
							.hover#img-11-in-hover.btn_cursor
								p Apple<br>iPhone 6
					.full-in.double-in.grid-item
							.btn-borders.inImg#img-13.center-all
								.imgbox#img-13-in
								.hover#img-13-in-hover.btn_cursor
									p Live<br>From<br>Kingston<br>Tickets

include _footer.jade





