.imgbG#prizes_gate.perfil_bg
	.safe-all
		.holdwithGrid
			.ingGrid.centerIt-h
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-1.center-all
							.imgbox#prize-1-in
							.hover#prize-1-in-hover.btn_cursor
								p Major<br> Lazer<br>Tickets
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-2.center-all
							.imgbox#prize-2-in
							.hover#prize-2-in-hover.btn_cursor
								p Red<br> Stripe<br>Caps
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-3.center-all
							.imgbox#prize-3-in
							.hover#prize-3-in-hover.btn_cursor
								p Red<br> Stripe<br>Sirroel
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-4.center-all
							.imgbox#prize-4-in
							.hover#prize-4-in-hover.btn_cursor
								p Absinthe<br> Party<br>Tickets
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-5.center-all
							.imgbox#prize-5-in
							.hover#prize-5-in-hover.btn_cursor
								p Apple<br> iPhone 6
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-6.center-all
							.imgbox#prize-6-in
							.hover#prize-6-in-hover.btn_cursor
								p Red<br> Stripe<br>1 Litre
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-7.center-all
							.imgbox#prize-7-in
							.hover#prize-7-in-hover.btn_cursor
								p Live<br> From<br>Kignston<br>Tickets
				.fth-section.este-in.grid-item.prize-grid-item
						.btn-borders.inImg#prize-8.center-all
							.imgbox#prize-8-in
							.hover#prize-8-in-hover.btn_cursor
								p Red Stripe<br> Football<br>Monday

			.holdCopyes.centerIt-h
				.section-half
					p COLLECT <span>STRIPES</span>
				.section-half
					p Get Rewarded!
				.holdVeryfied_btn
					a.btn_back.smsV.btn_cursor.btns_btm.btn-borders.red_btns(ng-href="#/profile")
						p Go Back

		.popUpHolder.btn-borders.center-horizontal#pop_up_go
			.holdwithGrid
				.safe-area.center-all
					#info_full_prize
						.section-half
							.points_to
								p STRIPES 350
								.icono_point
							.boxName.btn-borders
								p Major Lazer Tickets
							.imgPrice.btn-borders
								img(src="images/gui/prizes/1.png")
						.section-half#info_prize
							.topONe
								p A redemption code will be sent to you; use this code to redeem prize at this redemption centre:
							.holdSelect
								select
									option(value="Redemption Centers", selected) Redemption Center
									option(value="Kingston, Jamaica") Kingston, Jamaica
							.holdCodes
								.points_to
									p SEND CODE VIA.
								.btnshoLD
									.section-half
										.btnsRedim.btn_cursor.btn-borders#sms_info.sendConfi_prize
											p Send SMS
									.section-half
										.btnsRedim.btn_cursor.btn-borders#email_info.sendConfi_prize
											p Send Email
							.holdTextredimer
								p Or text ‘REDEEM MLTIX350’ to 444-7744
							.phoneConcect.centerIt-h
								.iconoPhone
								.txtConc
									p (Connect Cell Phone)
							.lastB.centerIt-h
								.btnsRedim.btn_cursor.btn-borders.prizes_back.close_elPopUP
									p Back to Prizes
						.section-half#sms_info_gate
							.topONe.centerIt-h
								p A redemption code was sent to  
							.inputSend.centerIt-h
								input(type="text", name="code", id="code_prizing_sms", placeholder="Enter Code")
							.holdsend.centerIt-h
								.btsumit.btn_cursor.btn-borders
									p Submit
							.lastB.centerIt-h
								.btnsRedim.btn_cursor.btn-borders.prizes_back.close_elPopUP
									p Back to Prizes
						.section-half#email_info_gate
							.topONe.centerIt-h
								p A redemption code was sent to 
							.inputSend.centerIt-h
								input(type="text", name="code", id="code_prizing_sms", placeholder="Enter Code")
							.holdsend.centerIt-h
								.btsumit.btn_cursor.btn-borders
									p Submit
							.lastB.centerIt-h
								.btnsRedim.btn_cursor.btn-borders.prizes_back.close_elPopUP
									p Back to Prizes
					.lasTcheers#cheers_salute
						.top_msg
							p CHEERS!

						.msgTrans
							p You have redeemed a Major Lazer<br> ticket for 350 STRIPES! <br> You can pick up this prize at Prism Communications Ltd. <br> Transaction # 1234567890
						.lastB.centerIt-h
							.btnsRedim.btn_cursor.btn-borders.prizes_back.close_elPopUP
								p Done
					.closepopUp.btn_cursor.close_elPopUP

include _footer.jade
