.imgbG#verification_email_gate.choose_bg
	.holdwithGrid
		.safe-all
			.logo
			.holdCopyVerification.email-verification
				p Please enter the confirmation code sent to <span id="verified-email">xx@xxx.com</span>
			.input_hold_verify.centerIt-h
				.holdinpu
					input(type="text", name="emailcode", id="code_verification_email", placeholder="")
				a.btn_verify.btn_cursor.btns_btm.btn-borders.red_btns(ng-href="#/congratulations")
					p Verify

			.holdVeryfied_btn.centerIt-h
				a.btn_back.smsV.btn_cursor.btns_btm.btn-borders.red_btns(ng-href="#/verify_account")
					p Go Back

include _footer.jade
